<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Market POS</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .tbl-wrap{
            height: 100px;
            overflow-y: auto;
        }
    </style>

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-4 rounded" style="background-color: #e3fded;">
        <div class="container-fluid">
            <a class="navbar-brand fs-3" href="#" style="color: #00a305">
                <img src="../assets/imges/inlogo1.png" alt="" width="40" height="40"
                     class="d-inline-block align-text-top">
                Green Market POS
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" id="home">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item" id="customers">
                        <a class="nav-link" href="#">Customers</a>
                    </li>
                    <li class="nav-item" id="order">
                        <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Items</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>
<main id="mh">
    <!--<div id="carouselExampleCaptions" class="carousel slide w-50 position-absolute top-50 start-50 translate-middle"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/imges/1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/imges/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../assets/imges/6.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>-->

    <section class="container-fluid">
        <section class="row">
            <!--Image-->
            <img src="../assets/imges/logo.jpg" class="img-fluid" alt="" style="width: 550px; margin-left: 365px; margin-top:0">
        </section>

        <section class="row" style="width: 1282px">
            <!--Image-->
            <div class="col-4" style="background-color: #e3fded; width: 300px; height: 355px; margin-left: 115px; border: 1px solid #008000; border-radius: 15px">
                <img src="../assets/imges/customers.png" class="img-fluid" alt="" style="width: 120px; margin-left: 71px; margin-top: 36px">
                <h4 style="margin-left: 64px; margin-top: 18px; font-size: 30px; font-family: fantasy">Customers</h4>
                <h4 id="totCust" style="margin-left: 104px; margin-top: 28px; font-size: 60px; color:#004400; font-family: fantasy">50</h4>

            </div>
            <div class="col-4" style="background-color: #e3fded; width: 300px; height: 355px; margin-left: 127px; border: 1px solid #008000; border-radius: 15px">
                <img src="../assets/imges/items.png" class="img-fluid" alt="" style="width: 120px; margin-left: 75px; margin-top: 36px">
                <h4 style="margin-left: 101px; margin-top: 18px; font-size: 30px; font-family: fantasy">Items</h4>
                <h4 id="totItem" style="margin-left: 109px; margin-top: 28px; font-size: 60px; color:#004400; font-family: fantasy">50</h4>

            </div>
            <div class="col-4" style="background-color: #e3fded; width: 300px; height: 355px; margin-left: 127px; border: 1px solid #008000; border-radius: 15px">
                <img src="../assets/imges/orders.png" class="img-fluid" alt="" style="width: 120px; margin-left: 71px; margin-top: 36px">
                <h4 style="margin-left: 90px; margin-top: 18px; font-size: 30px; font-family: fantasy">Orders</h4>
                <h4 id="totOrder" style="margin-left: 109px; margin-top: 28px; font-size: 60px; color:#004400; font-family: fantasy">50</h4>

            </div>
        </section>
    </section>


</main>
<main id="mc">
    <!--Customer Title-->
    <div>
        <h3 class="ps-4" style="font-family: Arial">
            <img src="../assets/imges/cust.png" alt="" width="34" height="34" class="d-inline-block align-text-top">
            Customers
        </h3>
    </div>

    <!--Content-->
    <section class="container-fluid">
        <section class="row">
            <!--Image-->
            <div class="col-5 mt-5">
                <img src="../assets/imges/customerbg.jpg" class="img-fluid" alt="">
            </div>

            <!--Fields-->
            <div class="col-7">
                <section class="row">
                    <!--Search-->
                    <div class="col-3">
                        <form>
                            <div>
                                <label for="txtSearchCust" class="form-label">Search Customer</label>
                                <input type="email" class="form-control" id="txtSearchCust"
                                       aria-describedby="emailHelp" placeholder="ID">
                            </div>
                        </form>
                    </div>

                    <!--Search Button-->
                    <div class="col-2 mt-3 pt-3 ps-2">
                        <button type="submit" class="btn btn-outline-success" id="btnSearchCust">Search</button>
                    </div>
                </section>

                <!--Customer ID-->
                <section class="row mt-4">
                    <div class="col-2">
                        <h5 style="color: #87de9b">CustomerID: </h5>
                    </div>

                    <div class="col-2 ps-0">
                        <h5 id="txtCustID">C00-001</h5>
                    </div>
                </section>

                <section class="row mt-1">
                    <!--CustName-->
                    <div class="col-6">
                        <label for="txtCustName" class="form-label">Customer Name</label>
                        <input type="email" class="form-control" id="txtCustName"
                               aria-describedby="emailHelp" placeholder="Name">
                        <p><small class="text-danger pl-1" id="lblcusname"></small></p>
                    </div>

                    <!--CustSalary-->
                    <div class="col-5">
                        <label for="txtCustSalary" class="form-label">Customer Salary</label>
                        <input type="email" class="form-control" id="txtCustSalary"
                               aria-describedby="emailHelp" placeholder="Salary">
                        <p><small class="text-danger pl-1" id="lblcussalary"></small></p>
                    </div>
                </section>

                <section class="row">
                    <!--CustAddress-->
                    <div class="col-6">
                        <label for="txtCustAddress" class="form-label">Customer Address</label>
                        <input type="email" class="form-control" id="txtCustAddress"
                               aria-describedby="emailHelp" placeholder="Name">
                        <p><small class="text-danger pl-1" id="lblcusaddress"></small></p>
                    </div>

                    <!--Buttons-->
                    <div class="col-6 mt-4 pt-2">
                        <button type="button" class="btn btn-danger" id="btnDeleteCust" data-bs-toggle="modal"
                                data-bs-target="#delCust">Delete
                        </button>
                        <button type="submit" class="btn btn-primary" id="btnClearCust">Clear</button>
                        <button class="btn btn-outline-info ms-3" type="button" id="btnSaveCust" data-bs-toggle="modal"
                                data-bs-target="#sveCust">Save Customer
                        </button>
                    </div>
                </section>

                <!--Table-->
                <section class="row mt-5 ">
                    <div class="col-11 tbl-wrap">
                        <table class="table table-hover" id="custTable">
                            <thead>
                            <tr style="background-color: #abffcb">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Salary</th>
                            </tr>
                            </thead>
                            <tbody id="custTableBody">


                            </tbody>
                        </table>
                    </div>
                </section>

                <!--Confirmation modal for save-->
                <div class="modal fade" id="sveCust" tabindex="-1" aria-labelledby="sveCust" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success">
                                <h5 class="modal-title" id="custModalcolor: white" style="color: white">Confirm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure that you want to save this Customer ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                        id="confirmSaveCust">Yes
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Confirmation modal for delete-->
                <div class="modal fade" id="delCust" tabindex="-1" aria-labelledby="delCust" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                                <h5 class="modal-title" id="delecustModalcolor: white" style="color: white">Confirm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure that you want to delete this Customer ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                        id="confirmdeleteCust">Yes
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>

</main>
<main id="mi">
    <div>
        <h3 class="ps-4" style="font-family: Arial;">
            <img src="../assets/imges/item.png" alt="" width="33" height="33" class="d-inline-block align-text-top">
            Items
        </h3>
    </div>

    <!--Content-->
    <section class="container-fluid">
        <section class="row">
            <!--Image-->
            <div class="col-5 mt-5">
                <img src="../assets/imges/fod.jpg" class="img-fluid" alt="">
            </div>

            <!--Fields-->
            <div class="col-7">
                <section class="row">
                    <!--Search-->
                    <div class="col-3">
                        <form>
                            <div>
                                <label for="txtSearchItem" class="form-label">Search Item</label>
                                <input type="email" class="form-control" id="txtSearchItem"
                                       aria-describedby="emailHelp" placeholder="ID">
                            </div>
                        </form>
                    </div>

                    <!--Search Button-->
                    <div class="col-2 mt-3 pt-3 ps-2">
                        <button type="submit" class="btn btn-outline-success" id="btnSearchItem">Search</button>
                    </div>
                </section>

                <!--Item ID-->
                <section class="row mt-4">
                    <div class="col-1">
                        <h5 style="color: #87de9b">ItemID: </h5>
                    </div>

                    <div class="col-2 ps-4">
                        <h5 id="txtItemID">I00-001</h5>
                    </div>
                </section>

                <section class="row mt-1">
                    <!--ItemName-->
                    <div class="col-6">
                        <label for="txtItemName" class="form-label">Item Name</label>
                        <input type="email" class="form-control" id="txtItemName"
                               aria-describedby="emailHelp" placeholder="Name">
                        <p><small class="text-danger pl-1" id="lblItemName"></small></p>
                    </div>

                    <!--QTY-->
                    <div class="col-5">
                        <label for="txtQTY" class="form-label">QTY</label>
                        <input type="email" class="form-control" id="txtQTY"
                               aria-describedby="emailHelp" placeholder="QTY">
                        <p><small class="text-danger pl-1" id="lblqty"></small></p>
                    </div>
                </section>

                <section class="row">
                    <!--Price-->
                    <div class="col-6">
                        <label for="txtPrice" class="form-label">Price</label>
                        <input type="email" class="form-control" id="txtPrice"
                               aria-describedby="emailHelp" placeholder="Price">
                        <p><small class="text-danger pl-1" id="lblprice"></small></p>
                    </div>

                    <!--Buttons-->
                    <div class="col-6 mt-4 pt-2">
                        <button type="submit" class="btn btn-danger" id="btnDeleteItem">Delete</button>
                        <button type="submit" class="btn btn-primary" id="btnClearItem">Clear</button>
                        <button class="btn btn-outline-info ms-3" type="button" id="btnSaveItem" data-bs-toggle="modal"
                                data-bs-target="#sveItem">Save Item
                        </button>
                    </div>
                </section>

                <!--Table-->
                <section class="row mt-5">
                    <div class="col-11 tbl-wrap">
                        <table class="table table-hover" id="ItemTable">
                            <thead>
                            <tr style="background-color: #abffcb">
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">QTY</th>
                                <th scope="col">Price</th>
                            </tr>
                            </thead>
                            <tbody id="ItemTableBody">

                            </tbody>
                        </table>
                    </div>
                </section>

                <!--Confirmation modal-->
                <div class="modal fade" id="sveItem" tabindex="-1" aria-labelledby="sveCust" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success">
                                <h5 class="modal-title" id="ItemModalcolor: white" style="color: white">Confirm</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure that you want to save this Item ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                        id="confirmSaveItem">Yes
                                </button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
</main>
<main id="mo">
    <div>
        <h3 class="ps-4" style="font-family: Arial;">
            <img src="../assets/imges/order.png" alt="" width="33" height="33" class="d-inline-block align-text-top">
            Orders
        </h3>
    </div>

    <section class="container-fluid">
        <section class="row mt-3">
            <div class="col-4 ps-5">
                <div class="row" style="background-color: #abffcb">
                    <h6 class="pt-1">Invoice Details</h6>
                </div>
                <div class="row" style="background-color: #ebfff1">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <label for="oID" class="form-label">Order ID</label>
                            <input type="email" class="form-control" id="oID"
                                   aria-describedby="emailHelp" placeholder="Order ID">
                            <label for="Name" class="form-label mt-2">Name</label>
                            <input type="email" class="form-control" id="Name"
                                   aria-describedby="emailHelp" placeholder="Nmae">
                            <label for="Salary" class="form-label mt-2">Salary</label>
                            <input type="email" class="form-control" id="Salary"
                                   aria-describedby="emailHelp" placeholder="Salary">
                        </div>
                        <div class="col-6 mt-2">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date"
                                   aria-describedby="emailHelp">
                            <label for="CustomerOID" class="form-label mt-2">Customer ID</label>
                            <div class="col-12">
                                <select id="CustomerOID" class="form-select" aria-label="Default select example">
                                    <option selected>Customer Id's</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="address" class="form-label mt-2">Address</label>
                        <input type="email" class="form-control ms-2" id="address"
                               aria-describedby="emailHelp" placeholder="Address">
                    </div>

                </div>
            </div>
            <div class="col-5 ps-4">
                <div class="row" style="background-color: #abffcb">
                    <h6 class="pt-1">Item Select</h6>
                </div>
                <div class="row" style="background-color: #ebfff1">
                    <div class="row">
                        <div class="col-5">
                            <label for="itemID" class="form-label mt-2">Item ID</label>
                            <select id="itemID" class="form-select" aria-label="Default select example">
                                <option selected>Item Id's</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="iname" class="form-label mt-2">Item Name</label>
                            <input type="email" class="form-control" id="iname"
                                   aria-describedby="emailHelp" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label for="price" class="form-label mt-2">Price</label>
                            <input type="email" class="form-control" id="price"
                                   aria-describedby="emailHelp" placeholder="Price">
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="oqty" class="form-label mt-2">Order Quantity</label>
                            <input type="email" class="form-control" id="oqty"
                                   aria-describedby="emailHelp" placeholder="qty">
                        </div>
                        <div class="col-6">
                            <label for="qty" class="form-label mt-2">QTYOnHand</label>
                            <input type="email" class="form-control" id="qty"
                                   aria-describedby="emailHelp" placeholder="qty">
                        </div>
                    </div>
                    <div class="row mb-3 mt-4">
                        <div class="col-5"></div>
                        <div class="col-7 ps-4">
                            <button type="button" class="btn btn-danger" id="btndeleteoitem">
                                Delete
                            </button>
                            <button type="button" class="btn btn-warning" id="btnupdateOitem">
                                Update
                            </button>
                            <button type="button" class="btn btn-success" id="btnAddItem">Add
                                Item
                            </button>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-3 ps-4 pe-5">
                <div class="row">
                    <div class="col-6">
                        <form>
                            <div>
                                <label for="txtSearchOrder" class="form-label">Search Order</label>
                                <input type="email" class="form-control btn-sm" id="txtSearchOrder"
                                       aria-describedby="emailHelp" placeholder="ID">
                            </div>
                        </form>
                    </div>

                    <!--Search Button-->
                    <div class="col-6 mt-3 pt-3 ps-2">
                        <button type="submit" class="btn btn-outline-success"
                                style="height:27px; width: 65px; padding-top: 1px; font-size: 15px; padding-left: 9px"
                                id="btnSearchOrder">Search
                        </button>
                        <button type="submit" class="btn btn-info"
                                style="height:27px; width: 56px; padding-top: 1px; font-size: 15px; padding-left: 10px"
                                id="btnclearAll">Clear
                        </button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h4>Total : </h4>
                    </div>
                    <div class="col-4">
                        <h4 id="txtTotal">0Rs/=</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-7">
                        <h4>SubTotal : </h4>
                    </div>
                    <div class="col-4">
                        <h4 id="txtSubTotal">0Rs/=</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="txtCash" class="form-label mt-2">Cash</label>
                        <input type="email" class="form-control" id="txtCash"
                               aria-describedby="emailHelp" placeholder="Cash">
                    </div>
                    <div class="col-6">
                        <label for="txtDiscount" class="form-label mt-2">Discount</label>
                        <input type="number" class="form-control" id="txtDiscount"
                               aria-describedby="emailHelp" placeholder="code">
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <label for="txtBalance" class="form-label mt-2">Balance</label>
                        <input type="email" class="form-control" id="txtBalance"
                               aria-describedby="emailHelp" placeholder="Balance">
                    </div>
                    <div class="col-4 mt-4 pt-3 ps-4">
                        <button type="button" class="btn btn-success" id="btnAdd">Add</button>
                    </div>

                </div>
                <div class="row mb-3 mt-4">
                    <div class="col-2 ms-5">
                        <button type="button" class="btn btn-primary" id="cancelOrder" data-bs-toggle="modal"
                                data-bs-target="#delOrder">Cancel</button>
                    </div>
                    <div class="col-7 ps-4 ms-3">
                        <button type="button" class="btn btn-success" id="btnPlaceOrder" data-bs-toggle="modal"
                                data-bs-target="#sveOrder">Purchase</button>
                    </div>

                </div>
            </div>
        </section>
        <section class="row mt-4">
            <div class="col-1"></div>
            <div class="col-10 tbl-wrap">
                <table class="table table-hover" id="OTbl">
                    <thead>
                    <tr style="background-color: #abffcb">
                        <th scope="col">Item Code</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">QTY</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody id="OtblBody">
                    <tr>

                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-1"></div>

        </section>
    </section>

    <!--Confirmation modal for save-->
    <div class="modal fade" id="sveOrder" tabindex="-1" aria-labelledby="sveCust" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="orderModalcolor: white" style="color: white">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to save this Customer ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            id="confirmSaveOrder">Yes
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!--Confirmation modal for delete-->
    <div class="modal fade" id="delOrder" tabindex="-1" aria-labelledby="delCust" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleorderModalcolor: white" style="color: white">Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure that you want to delete this Customer ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            id="confirmdeleteOrder">Yes
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/jQuerry/jquery-3.6.0.min.js"></script>
<script src="../db/DB.js"></script>
<script src="../model/Customer.js"></script>
<script src="../model/Item.js"></script>
<script src="../model/Order.js"></script>
<script src="../model/ItemDetail.js"></script>
<script src="../controler/CustomerControler.js"></script>
<script src="../controler/ItemController.js"></script>
<script src="../controler/OrderController.js"></script>
<script src="../controler/HomeController.js"></script>
<script src="../assets/sweetalert.min.js"></script>
<script>
    /*Changing Interfaces*/
    $("#mh").css("display", "block");
    loadHomeData();
    $("#mc").css("display", "none");
    $("#mi").css("display", "none");
    $("#mo").css("display", "none");

    $("#customers").click(function () {

        $("#mc").css("display", "block");
        $("#mi").css("display", "none");
        $("#mo").css("display", "none");
        $("#mh").css("display", "none");
        generateCustID();
    });

    $("#items").click(function () {
        $("#mc").css("display", "none");
        $("#mi").css("display", "block");
        $("#mo").css("display", "none");
        $("#mh").css("display", "none");
        generateItemID();
        loadAllItems();

    });

    $("#order").click(function () {
        $("#mc").css("display", "none");
        $("#mi").css("display", "none");
        $("#mh").css("display", "none");
        $("#mo").css("display", "block");
        loadAllCustID();
        loadAllItemID();
        generateOrderID();
        $("#btnupdateOitem,#btnPlaceOrder,#btndeleteoitem,#cancelOrder,#btnAddItem").attr('disabled', true);
    });

    $("#home").click(function () {
        $("#mc").css("display", "none");
        $("#mi").css("display", "none");
        $("#mh").css("display", "block");
        $("#mo").css("display", "none");
        loadHomeData();
    });




</script>
</body>
</html>